
/* backend-后台管理字体图表 */
@font-face {
    font-family: 'dh font';
  
    src: url('../fonts/backend-fonts/iconfont.eot');
    src: url('../fonts/backend-fonts/iconfont.eot?#iefix') format('embedded-opentype'), 
     url('../fonts/backend-fonts/iconfont.woff') format('woff'), 
     url('../fonts/backend-fonts/iconfont.ttf') format('truetype'), 
     url('../fonts/backend-fonts/iconfont.svg#glyphicons_halflingsregular') format('svg');
  }
  /* 原wjs的设置 */
  /* .dh_font {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'dh font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  .dh-font {
    /* font-size:16px; */
    font-family: 'dh font';
    /**
     * 
     */
	margin-right: 5px;
    font-style:normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dh-icon-test:before { content: "\e606"; }
  
  .dh-icon-test1:before { content: "\e607"; }
  
  .dh-chuangjian:before { content: "\e600"; }
  
  .dh-yijianfankui:before { content: "\e636"; }
  
  .dh-icon:before { content: "\e610"; }
  
  .dh-guzhang:before { content: "\e694"; }
  
  .dh-tuichu:before { content: "\e620"; }
  
  .dh-qixiangzhan:before { content: "\e70a"; }
  
  .dh-fenbulei:before { content: "\e665"; }
  
  .dh-tongji:before { content: "\e602"; }
  
  .dh-earth:before { content: "\e62e"; }
  
  .dh-fenxi:before { content: "\e65f"; }
  
  .dh-gerenzhongxin:before { content: "\e619"; }
  
  .dh-erweima:before { content: "\e67d"; }
  
  .dh-xiaoxi:before { content: "\e68f"; }
  
  .dh-tuichu1:before { content: "\e611"; }
  
  .dh-dianzhan1:before { content: "\e601"; }
  
  .dh-renyuanguanli:before { content: "\e625"; }
  
  .dh-fanhui:before { content: "\e621"; }
  
  .dh-peizhi:before { content: "\e60b"; }
  
  .dh-guzhang2:before { content: "\e6b8"; }
  
  .dh-quxiao:before { content: "\e604"; }
  
  .dh-shouye:before { content: "\e706"; }
  
  .dh-dianbiaoliebiao:before { content: "\e605"; }
  
  .dh-guzhang1:before { content: "\e632"; }
  

  
  .dh-zujian:before { content: "\e60e"; }
  
  .dh-EPCzuodaohangtubiao-:before { content: "\e7dc"; }
  
  .dh-xiala:before { content: "\e603"; }




/* form-control start */
  .dh-form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .dh-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .dh-form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .dh-form-control:-ms-input-placeholder {
    color: #999;
  }
  .dh-form-control::-webkit-input-placeholder {
    color: #999;
  }
  .dh-form-control[disabled],
  .dh-form-control[readonly],
  fieldset[disabled] .dh-form-control {
    background-color: #eee;
    opacity: 1;
  }
  .dh-form-control[disabled],
  fieldset[disabled] .dh-form-control {
    cursor: not-allowed;
  }
  textarea.dh-form-control {
    height: auto;
  }

  /* form-control end */
  

  /* dh-btn  start*/
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #333;
    text-decoration: none;
  }
  .btn:active,
  .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .65;
  }
  a.btn.disabled,
  fieldset[disabled] a.btn {
    pointer-events: none;
  }

  /* dh-btn end */